---
layout: default
---

<div class="w-100 pv4" style="background-image:url('/img/bg-light.png');">

  <div class="container ph3 ph4-l flex flex-wrap">
    <h2 class="b ttu">{{page.intro_title}}</h2>
    <div class="w-100 w-60-l pr5-l">
      {{page.intro_text | markdownify}}
    </div>
    <div class="w-100 w-40-l bg-green white br4 mv3 pv4 ph3">
      <h3 class="f2 b ttu tc mb4">{{page.event_title}}</h3>

      <div class="w-100 w-80-l ml-auto mr-auto mv3 tc tl-l">
        <i class="fas fa-calendar-alt mr2 mr3-l f4"></i>
        <span class="f4">{{page.event_days}}</span>
      </div>
      <div class="w-100 w-80-l ml-auto mr-auto mv3 tc tl-l">
        <i class="far fa-clock mr2 mr3-l f4"></i>
        <span class="f4">{{page.event_time}}</span>
      </div>
      <div class="w-100 w-80-l ml-auto mr-auto mv3 tc tl-l">
        <i class="fas fa-location-arrow mr2 mr3-l f4"></i>
        <span class="f4">{{page.event_location}}</span>
      </div>
      <div class="w-100 w-80-l ml-auto mr-auto mv3 tc tl-l">
        <i class="fas fa-map-marker-alt mr2 mr3-l f4"></i>
        <span class="f4">{{page.event_address_1}}</span><br/>
        <span class="f4 ml2 ml4-l pl0 pl1-l">{{page.event_address_2}}</span>
      </div>
      <div class="w-100 ml-auto mr-auto mt5 tc">
        <a href="{{page.event_link}}" alt="{{page.event_title}}">
          <button class="w-100 w-80-l input-reset ba b--white bw1 br4 bg-white green b ph4 pv3 ttu f4 pointer">{{page.event_link_text}}</button>
        </a>
      </div>

    </div>
  </div>

</div>

<div class="w-100 pv5">

  <div class="container ph3 ph4-l flex flex-wrap">

    <h2 class="w-100 b ttu mv2">{{page.horaire_title}}</h2>
    <div class="underliner"></div>

    <div class="w-100 mt4">

      <div class="bg-green ttu white pv3 ph4">
        <h3 class="b f3">{{page.horaire_slogan}}</h3>
      </div>

      {% assign fetch_conferences = site.pages | where: 'layout','conferences' %}

      {% for result in fetch_conferences %}

        {% for schedule in result.schedules %}

        <div class="slider bg-light-gray black pa4 flex flex-wrap tc tl-l mv2 {% if schedule.desc %}pointer{%endif%}">
          <span class="w-100 w-20-l b mv2 f4 alt-font">{{schedule.time}}</span>
          <span class="w-100 w-60-l mv2 f4 alt-font">{{schedule.title}}</span>
          {% unless schedule.desc == '' %}
            {% if schedule.desc %}
            <div class="w-100 w-20-l tr dt mt1">
              <span class="dtc v-btm pv2 b">En savoir plus</span>
              <i class="fas fa-angle-down f4 mt2"></i>
            </div>
            <div class="hidden pt3 mr3 tj">
              {{schedule.desc | markdownify}}
              <div class="w-100 mt4 ph2 flex">
                {% for intervenant in schedule.intervenants %}
                  <div class="bubble w-100 w-25-l br4 bg-green white flex mr3">
                    <div>
                      <img class="icon" src="{{intervenant.image}}" alt="{{intervenant.name}}"/>
                    </div>
                    <div class="ph3 pv2 mt1">
                      <span class="b lh-copy f5">{{intervenant.name}}</span><br/>
                      <span class="f5">{{intervenant.company}}</span><br/>
                      <span class="f6">{{intervenant.days}}</span>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          {% endif %}
          {% endunless %}
        </div>

        {% endfor %}

      {% endfor %}

    </div>

  </div>

</div> <!-- end schedule -->

<div class="w-100 pv5" style="background-image:url('/img/bg-light.png');">

  <div class="container ph3 ph4-l flex flex-wrap">

    <h2 class="w-100 b ttu mv2">{{page.intervenants_title}}</h2>
    <div class="underliner"></div>

    <div class="w-100 mt4">

      {% assign fetch_page = site.pages | where: 'layout','intervenants' %}

      {% for result in fetch_page %}

        {% for intervenant in result.intervenants %}

        <div class="w-100 w-80-l ph2 hidden" id="hidden-content{{forloop.index}}">
          <div class="container flex flex-wrap">
            <div class="dib w-100 w-30-l pr4 mb3 mb0-l">
          	  <img class="intervenant mb3" src="{{intervenant.image}}" alt="{{intervenant.name}}"/>
              {% unless intervenant.video == '' %}
              {% if intervenant.video %}
              <a class="no-underline" target="_blank" href="{{intervenant.video}}" alt="Lien vers la capsule de présentation">
                <div class="w-90-l mv3 bg-light-gray ph3 pv2 br4 mr4 pointer dt">
                    <i class="fas fa-play-circle green f2 pr3"></i>
                    <span class="dtc v-mid blue link f5 ttu alt-font">Capsule de présentation</span>
                </div>
              </a>
              {% endif %}
              {% endunless %}
              <span class="db f4 black b mv4 ml2">Conférences:</span>
              {% for conference in intervenant.conferences %}
              <div class="bg-green white br4 pv2 ph3 mr4-l">
                <span class="b">{{conference.name}}</span><br/>
                <span class="f5">{{conference.date}}</span>
              </div>
              {% endfor %}
            </div>
            <div class="dib w-100 w-60-l">
              <span class="db f4 black ttu b mv3">{{intervenant.name}}</span>
              <span class="db f5 gray mv2">{{intervenant.job}}</span>
              <span class="db f5 gray mv2">{{intervenant.company}}</span>
              {{intervenant.bio | markdownify}}
            </div>
          </div>
        </div>


        <div class="w-100 dib w-30-l tc pointer grow mr3 mb5">
          <a class="no-underline" data-fancybox data-src="#hidden-content{{forloop.index}}" href="javascript:;">
            <img class="intervenants" src="{{intervenant.image}}" alt="{{intervenant.name}}"/>
            <div class="w-100">
              <span class="db f4 black ttu b mv3">{{intervenant.name}}</span>
              <span class="db f5 gray mv2">{{intervenant.job}}</span>
              <span class="db f5 gray mv1">{{intervenant.company}}</span>
            </div>
          </a>
        </div>

        {% endfor %}

      {% endfor %}

    </div>

  </div>

</div> <!-- end intervenants -->

<div class="w-100 pv5 cover" style="background-image:url('/img/bg-table.png');">

  <div class="container ph3 ph4-l flex flex-wrap">

    <div class="w-100 mb5">
      <h2 class="b ttu mv3 tc white">{{page.reservation_title}}</h2>
      <div class="underliner ml-auto mr-auto"></div>
    </div>

    {% for box in page.reservation_box %}

    <div class="w-100 w-third-l pointer grow mb3">
      <a class="no-underline" href="/inscriptions">
        <div class="bg-white br4 mr3 pa3 pa4-l tc">
          <span class="ttu b f3 black pv3 db">{{box.title}}</span>
          <div class="w-100 pa3 mv3 bg-green white br4">
            <span class="db ttu b f-huge">{{box.price}}</span>
            <span class="db f4">{{box.subtext}}</span>
          </div>
          {% for forfait in box.features %}
            <span class="gray db pv3 bb b--light-gray tl"><i class="far fa-check-square mr3"></i>{{forfait.desc}}</span>
          {% endfor %}
        </div>
      </a>
    </div>

    {% endfor %}

  </div>

</div>
