---
layout: default
---

<div class="w-100 pv4" style="background-image:url('/img/bg-light.png');">

  <div class="container ph3 ph4-l flex flex-wrap">
    <h2 class="b ttu">{{page.intro_title}}</h2>
    <div class="w-100 w-60-l pr5-l">
      {{page.intro_text | markdownify}}
    </div>
    <div class="w-100 w-40-l bg-green white br4 mv3 pv4 ph3">
      <h3 class="f2 b ttu tc mb4">{{page.event_title}}</h3>

      <div class="w-100 w-80-l ml-auto mr-auto mv3 tc tl-l">
        <i class="fas fa-calendar-alt mr2 mr3-l f4"></i>
        <span class="f4">{{page.event_days}}</span>
      </div>
      <div class="w-100 w-80-l ml-auto mr-auto mv3 tc tl-l">
        <i class="far fa-clock mr2 mr3-l f4"></i>
        <span class="f4">{{page.event_time}}</span>
      </div>
      <div class="w-100 w-80-l ml-auto mr-auto mv3 tc tl-l">
        <i class="fas fa-map-marker-alt mr2 mr3-l f4"></i>
        <span class="f4">{{page.event_location}}</span>
      </div>
      <div class="w-100 ml-auto mr-auto mt5 tc">
        <a href="{{page.event_link}}" alt="{{page.event_title}}">
          <button class="w-100 w-80-l input-reset ba b--white bw1 br4 bg-white green b ph4 pv3 ttu f4 pointer">{{page.event_link_text}}</button>
        </a>
      </div>

    </div>
  </div>

</div>

<div class="w-100 pv5">

  <div class="container ph3 ph4-l flex flex-wrap">

    <h2 class="w-100 b ttu mv2">{{page.horaire_title}}</h2>
    <div class="underliner"></div>

    <div class="w-100 mt4">

      <div class="bg-green ttu white pv3 ph4">
        <h3 class="b f3">{{page.horaire_slogan}}</h3>
      </div>

      {% assign fetch_conferences = site.pages | where: 'layout','conferences' %}

      {% for result in fetch_conferences %}

        {% for schedule in result.schedules %}

        <div class="slider bg-light-gray black pa4 flex flex-wrap tc tl-l mv2 {% if schedule.desc %}pointer{%endif%}">
          <span class="w-100 w-20-l b mv2 f4 alt-font">{{schedule.time}}</span>
          <span class="w-100 w-70-l mv2 f4 alt-font">{{schedule.title}}</span>
          {% if schedule.desc %}
            <i class="w-100 w-10-l fas fa-angle-down f3 mt2"></i>
            <div class="hidden pt3 mr3 tj">
              {{schedule.desc | markdownify}}
            </div>
          {% endif %}
        </div>

        {% endfor %}

      {% endfor %}

    </div>

  </div>

</div> <!-- end schedule -->

<div class="w-100 pv5" style="background-image:url('/img/bg-light.png');">

  <div class="container ph3 ph4-l flex flex-wrap">

    <h2 class="w-100 b ttu mv2">{{page.intervenants_title}}</h2>
    <div class="underliner"></div>

    <div class="w-100 mt4">

      {% assign fetch_page = site.pages | where: 'layout','intervenants' %}

      {% for result in fetch_page %}

        {% for intervenant in result.intervenants %}

        <div class="w-100 w-80-l ph2 hidden" id="hidden-content{{forloop.index}}">
          <div class="container flex flex-wrap">
            <div class="dib w-100 w-30-l pr4">
          	  <img class="intervenant" src="{{intervenant.image}}" alt="{{intervenant.name}}"/>
            </div>
            <div class="dib w-100 w-60-l">
              <span class="db f4 black ttu b mv3">{{intervenant.name}}</span>
              <span class="db f5 gray mv2">{{intervenant.job}}</span>
              <p>{{intervenant.bio}}</p>
            </div>
          </div>
        </div>


        <div class="w-100 dib w-30-l tc pointer grow mr3 mb5">
          <a class="no-underline" data-fancybox data-src="#hidden-content{{forloop.index}}" href="javascript:;">
            <img class="intervenants" src="{{intervenant.image}}" alt="{{intervenant.name}}"/>
            <div class="w-100">
              <span class="db f4 black ttu b mv3">{{intervenant.name}}</span>
              <span class="db f5 gray mv2">{{intervenant.job}}</span>
            </div>
          </a>
        </div>

        {% endfor %}

      {% endfor %}

    </div>

  </div>

</div> <!-- end intervenants -->

<div class="w-100 pv5 cover" style="background-image:url('/img/bg-table.png');">

  <div class="container ph3 ph4-l flex flex-wrap">

    <div class="w-100 mb5">
      <h2 class="b ttu mv3 tc white">{{page.reservation_title}}</h2>
      <div class="underliner ml-auto mr-auto"></div>
    </div>

    <div class="w-100 w-50-l pointer grow">
      <a class="no-underline" href="/inscriptions">
        <div class="bg-white br4 mr3 pa3 pa4-l tc">
          <span class="ttu b f3 black">{{page.reservation_box_1.title}}</span>
          <div class="w-100 pa3 mv3 bg-green white br4">
            <span class="db ttu b f-huge">{{page.reservation_box_1.price}}</span>
            <span class="db f4">{{page.reservation_box_1.subtext}}</span>
          </div>
          {% for forfait in page.reservation_box_1.features %}
            <span class="gray db pv3 bb b--light-gray tl"><i class="far fa-check-square mr3"></i>{{forfait.desc}}</span>
          {% endfor %}
        </div>
      </a>
    </div>

    <div class="w-100 w-50-l pointer grow">
      <a class="no-underline" href="/inscriptions">
        <div class="bg-white br4 mr3 pa3 pa4-l tc">
          <span class="ttu b f3 black">{{page.reservation_box_2.title}}</span>
          <div class="w-100 pa3 mv3 bg-green white br4">
            <span class="db ttu b f-huge">{{page.reservation_box_2.price}}</span>
            <span class="db f4">{{page.reservation_box_2.subtext}}</span>
          </div>
          {% for forfait in page.reservation_box_2.features %}
            <span class="gray db pv3 bb b--light-gray tl"><i class="far fa-check-square mr3"></i>{{forfait.desc}}</span>
          {% endfor %}
        </div>
      </a>
    </div>

  </div>

</div>
