---
layout: default
---
<div class="w-100 pv5">
  <div class="container ph3 ph4-l flex flex-wrap">

    <h2 class="w-100 b ttu mv2">{{page.title}}</h2>
    <div class="underliner"></div>

    <div class="w-100 pv3">
      {{content}}
    </div>

    {% assign fetch_page = site.pages | where: 'layout','home' %}

    <form name="contact" data-netlify="true" class="w-100">

      <div class="w-100 w-50-l fl mv3 pr3">
        <input class="w-100 pa3 mv2 input-reset ba b--light-gray bg-near-white br2 black b f5" placeholder="Nom, Prénom*" type="text" name="nom" id="nom" required>
        <input class="w-100 pa3 mv2 input-reset ba b--light-gray bg-near-white br2 black b f5" placeholder="Courriel*" type="email" name="courriel" id="courriel" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
        <input class="w-100 pa3 mv2 input-reset ba b--light-gray bg-near-white br2 black b f5" placeholder="Téléphone*" type="tel" name="tel" id="tel" pattern="^(\+\d{1,2}\s)?\(?\d{3}\)?[\s.-]?\d{3}[\s.-]?\d{4}$">
        <input class="w-100 pa3 mv2 input-reset ba b--light-gray bg-near-white br2 black b f5" placeholder="Entreprise" type="text" name="entreprise" id="entreprise">

        <select class="w-100 pa3 mv2 input-reset ba b--light-gray bg-near-white br2 black b f5" required  name="niveau" id="niveau">
          <option value="" disabled selected>Niveau*</option>
          {% for result in fetch_page %}
            {% for item in result.reservation_box %}
              <option value="{{item.title | slugify}}">{{item.title}}</option>
            {% endfor %}
          {% endfor %}
        </select>

        {% for result in fetch_page %}
          {% for item in result.reservation_box %}

            <fieldset id="{{item.title | slugify}}" class="w-100 pa3 mv2 input-reset flex flex-wrap hidden">
                <legend>{{item.title}} - Choisir une journée</legend>

                {% if item.multiple_days == true %}

                {% for day in item.days %}
                  <div class="w-100 w-40-l pv2 dib">
                    <input type="checkbox" name="{{day.day}}" value="SÉLECTIONNÉ" />
                    <label for="{{day.day}}">{{day.day}}</label>
                  </div>
                {% endfor %}

                {% else %}

                  <select class="w-100 pa3 mv2 input-reset ba b--light-gray bg-near-white br2 black b f5" name="Journée" id="halfdays">
                    <option value="" disabled selected>Journée*</option>
                    {% for day in item.days %}
                      <option value="{{day.day}}">{{day.day}}</option>
                    {% endfor %}
                  </select>

                {% endif %}

                  {% for time in item.times %}
                    <div class="w-100 mv3 radios">
                      <input type="radio" id="{{time.time}}" name="{{item.title}}" value="{{time.time}}"/>
                      <label for="{{time.time}}">{{time.time}}</label>
                    </div>
                  {% endfor %}

            </fieldset>

            <script>

            $("#niveau").change(function () {
              var selected_option = $('#niveau').val();
              console.log(selected_option);
              if (selected_option == '{{item.title | slugify}}') {
                $('.hidden').hide();
                $('#{{item.title | slugify}}').show();
              }
            })

            </script>

          {% endfor %}
        {% endfor %}

      </div>

      <div class="w-100 w-50-l fl mv3 pr3">
        <textarea class="w-100 pa3 mv2 input-reset ba b--light-gray bg-near-white br2 black b f5" placeholder="Votre domaine d'expertise*" name="expertise" id="expertise" required></textarea>
        <input class="w-100 pa3 mv2 input-reset ba b--light-gray br2 white f5 pointer" type="submit" value="Réserver">
      </div>

    </form>

  </div>
</div>
