---
layout: default
---
<div class="w-100 pv5">
  <div class="container ph3 ph4-l flex flex-wrap">

    <h2 class="w-100 b ttu mv2">{{page.title}}</h2>
    <div class="underliner"></div>

    <div class="w-100 pv3">
      {{content}}
    </div>

    <form name="contact" data-netlify="true" class="w-100">

      <div class="w-100 w-50-l fl mv3 pr3">
        <input class="w-100 pa3 mv2 input-reset ba b--light-gray bg-near-white br2 black b f5" placeholder="Nom, Prénom*" type="text" name="nom" id="nom" required>
        <input class="w-100 pa3 mv2 input-reset ba b--light-gray bg-near-white br2 black b f5" placeholder="Courriel*" type="email" name="courriel" id="courriel" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
        <input class="w-100 pa3 mv2 input-reset ba b--light-gray bg-near-white br2 black b f5" placeholder="Téléphone*" type="tel" name="tel" id="tel" pattern="^\d{3}-\d{3}-\d{4}$">
        <input class="w-100 pa3 mv2 input-reset ba b--light-gray bg-near-white br2 black b f5" placeholder="Entreprise" type="text" name="entreprise" id="entreprise">

        <select class="w-100 pa3 mv2 input-reset ba b--light-gray bg-near-white br2 black b f5" required  name="niveau" id="niveau">
          <option value="" disabled selected>Niveau*</option>
          {% for item in page.types %}
          <option value="{{item.type}}">{{item.type}}</option>
          {% endfor %}
        </select>

        <fieldset class="w-100 pa3 mv2 input-reset flex flex-wrap">
            <legend>Choisir une journée</legend>

            {% for item in page.days %}
            <div class="w-50 dib pb2 black">
              <input type="checkbox" id="{{item.day}}" name="{{item.day}}" />
              <label for="{{item.day}}">{{item.day}}</label>
            </div>
            {% endfor %}

        </fieldset>
      </div>

      <div class="w-100 w-50-l fl mv3 pr3">
        <textarea class="w-100 pa3 mv2 input-reset ba b--light-gray bg-near-white br2 black b f5" placeholder="Votre domaine d'expertise*" name="expertise" id="expertise" required></textarea>
        <input class="w-100 pa3 mv2 input-reset ba b--light-gray br2 white f5 pointer" type="submit" value="Réserver">
      </div>

    </form>

  </div>
</div>
