---
layout: default
---
<div class="w-100 pv5">

  <div class="container ph3 ph4-l flex flex-wrap">

    {% for intervenant in page.intervenants %}

    <div class="w-100 w-80-l ph2 hidden" id="hidden-content{{forloop.index}}">
      <div class="container flex flex-wrap">
        <div class="dib w-100 w-30-l pr4">
      	  <img class="intervenant" src="{{intervenant.image}}" alt="{{intervenant.name}}"/>
        </div>
        <div class="dib w-100 w-60-l">
          <span class="db f4 black ttu b mv3">{{intervenant.name}}</span>
          <span class="db f5 gray mv2">{{intervenant.job}}</span>
          <p>{{intervenant.bio}}</p>
        </div>
      </div>
    </div>


    <div class="w-100 w-third-l tc pointer grow pr3 pb5">
      <a class="no-underline" data-fancybox data-src="#hidden-content{{forloop.index}}" href="javascript:;">
        <img class="intervenant pb2" src="{{intervenant.image}}" alt="{{intervenant.name}}"/>
        <div class="w-100">
          <span class="db f4 black ttu b mv2">{{intervenant.name}}</span>
          <span class="db f5 gray mv1">{{intervenant.job}}</span>
        </div>
      </a>
    </div>

    {% endfor %}

  </div>

</div>
